<div class="content">
    <div class="text-center">
      <img src="./assets/img/logo/only.png" alt="logo onlyFutbol">
    </div>
    <figure class="text-center">
        <blockquote class="blockquote">
        <p>Somos<em> onlyFutbol, </em>aqui podras encontrar una variedad de indumentaria, preferentemente
           camisetas de futbol. Esperamos te agraden nuestros productos, gracias por pasarte. </p>
        </blockquote>
        <figcaption class="blockquote-footer">
            Equipo Pasion Xeneixe <cite title="Source Title">- onlyFutbol Inc.</cite>
        </figcaption>
       </figure>
   
</div>