.uniform-img {
    height: 150px; /* Ajusta esta altura según sea necesario */
    object-fit: cover; /* Mantiene la proporción de la imagen */
    width: 100%; /* Ajusta la anchura automáticamente */
}