
<div class="container mb-3">
    <div class="row">
        <div class="col-8 w-50">
            <form class="mt-5">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email: </label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Codigo Postal:</label>
              <input type="text" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="form-floating">
                <textarea class="form-control" id="floatingTextarea2" ></textarea>
                <label for="floatingTextarea2">Comentario <span class="text-secondary"> (opcional) </span> </label>
              </div>    
              <button type="button" class="btn btn-primary mt-3" (click)="realizarCompra()">Enviar</button>
            </form>
            @if (compraRealizada) {
                <div class="alert alert-success mt-2" role="alert">
                <p>Gracias por su compra, vuelva prontos!</p>   
                </div>
            }
        </div>
        <div class="col-4 ms-5">
            <div class="row mt-2  align-middle">
                <div class="d-flex flex-nowrap p-2 align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="50" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l.84 4.479 9.144-.459L13.89 4zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                    </svg>
                    <h1 class="fs-4 m-1">Carrito</h1>
                </div>
            </div>
            @for (prenda of (producto | async); track prenda.nombre) {
                <div class="list-group column m-2  row w-100">
                    <div class="list-group-item d-flex flex-nowrap row w-100" >
                        <div class="w-50">
                        <img width="100" [src]="prenda.image" [alt]="" class="rounded">
                        </div>
                        <div class="d-flex flex-nowrap w-50">
                            <div class="column">
                                <h2 class="mb-1 fs-6">{{prenda.nombre}}</h2>
                                <p>Cantidad: {{prenda.cantidad}}</p>
                                <p class=""> Total: {{total(prenda)  | currency}}</p>
                            </div>
                        </div>
                    </div>
                </div>            
            }
        </div>
    </div>
</div>