
<div class="align-middle mb-1 d-flex flex-nowrap input-group">
    <div class="input-group mb-3">
        <input type="number" class="form-control"  [(ngModel)]="cantidad" aria-label="Example text with button addon" aria-describedby="button-addon1">
        <button class="btn btn-outline-secondary" type="button" id="button-addon1" (click)="restarCant()">-</button>
        <button class="btn btn-outline-secondary" type="button" id="button-addon1" (click)="sumarCant()">+</button>
      </div>
</div>

