<div class="container">
    <div class="row">
        @for (prenda of prendas; track prenda.nombre) {
            <div class="col-3 mb-4">
                <div class="card text-center " >
                    <div class="card-header">
                        <h2 class="card-title fs-6 ">{{prenda.nombre | uppercase}}</h2>
                    </div>
                    <div class="card-body">
                        <img [src]="prenda.image" [alt]="prenda.image" class="card-img-top">
                    </div>
                    <div class="card-footer text-body-secondary">
                        <p class="card-text">{{prenda.precio | currency}}</p>
                        @if (prenda.stock) { 
                            <span class="badge text-bg-info" >STOCK: {{prenda.stock}}</span>
                        }@else {
                            <span class="badge text-bg-warning">SIN STOCK</span>
                        }
                    </div>
                </div>
                @if (prenda.stock) { 
                    <div class="text-center mb-2 p-2 w-100">
                        <app-input-integer class="d-flex flex-nowrap" [(cantidad)]="prenda.cantidad" [maxCant]="prenda.stock" (cantMaxStock) ="cantMaxStock($event)"></app-input-integer>
                        <button class="btn btn-outline-success btn-sm" (click)="agregarCarrito(prenda)">AGREGAR AL CARRITO</button>
                    </div>
                }
            </div>
        }@empty {
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Vaya!</strong> <span> No hay productos para mostrar :( .</span>                
            </div>
        }
    </div>
</div>
